body {
    background-color: #f8f8f8;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

header {
    text-align: center;
    margin-bottom: 50px;
    padding: 5px;
    position: relative;
}

.line {
    position: absolute;
    margin-top: 15px;
    margin-left: 100px;
    width: 80%;
    background-color: #000;
    height: 1px;
}

input {
    padding: 5px;
}

input[type="file"] {
    display: none;
}

form {
    text-align: center;
}

label {
    border: 1.5px outset black;
    padding: 6px;
}

.photo-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    margin-left: 5px;
    margin-top: 40px;
    padding: 10px 10px 50px 10px;
    background-color: #55acee;
    border-radius: 10px;
    flex-flow: column wrap;
}

.circle {
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    margin: 40px 5px 0 2px;
    height: 30px;
    width: 30px;
}

.fa-times {
    color: white;
    font-size: 1.4rem;
    padding: 3.5px 10px 0 7px;
}